<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PITCHER APP</title>
</head>
<body>
    <h1>PITCHER APP</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>This is an app where users can pitch their ideas under 1 minute and get other users to upvote or downvote on their pitch.</p>
            </div>
        </div>
    </div>
</body>
</html>