{% block styles%}

<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index">Pitch.com</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="">Categories</a>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.login')}}">Sign In</a>
          </li>
          <br>
        </ul>
      </div>
    </div>
  </nav>